<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>

    <h2>Print Name</h2>
    <form action="{{url}}" method="POST">
      <label for="FirstName">First Name</label>
      <input type="text" name="FirstName" required>

      <label for="LastName">Last Name</label>
      <input type="text" name="LastName" required>

      <button type="submit">Insert</button>
    </form>
    <h2>History</h2>
    <table border = 1>
      <tr>
         <td> First Name </td>
         <th> Last Name </th>
      </tr>
         {% for key, value in result %}
            <tr>
               <td> {{ key }} </td>
               <th> {{ value }} </th>
            </tr>
         {% endfor %}
      </table>
  </body>
</html>